*{
    padding: 0;
    margin: 0;
}
#container{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    background-color : antiquewhite;
}


img{
    /* margin-top: -6vh; */
    margin-left: 10px;
}
.links{
    display: flex;
    justify-content: space-between;
    width: 20%;
}
h2{
    font-size: larger;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40vw;
    height: 85vh;
    margin-left: 30vw;
    margin-top: 10vh;
    background-color: white;
    color: black;
    /* align-self: center; */
    /* padding: 40px; */
  }
  fieldset{
    margin: 18vh;
    margin-left: 30vw;
    margin-right: 30vw;
  }
  
  form{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin: 20px;
  }
  
  legend{
    background-color: black;
    color: white;
  }
  
  form input{
    font-size: 1rem;
    /* color: aliceblue; */
    background-color: whitesmoke;
    border: none;
    border-radius: 5px;
    height: 4.5vh;
  }
  
  form input[type="submit"]{
    cursor: pointer;
    background-color: rgb(56,201,61);
    margin-top: 20px;
    color: white;
  
  }
  
  .success{
    background-color: aquamarine;
    border-radius: 4px;
    text-align: center;
  }
  /* form  */
  .err{
    color: red;
    margin: 0;
    font-size: smaller;
    margin-bottom: 2px;
  
  }